html {
  box-sizing: border-box;
}

body {
  background-color: #1c252a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
tr {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin: 0em;
}

.spacer {
  margin: 8px;
}

.title {
  margin: auto;
  width: 90%;
  padding: 0.5em 0em 0.5em 0em;
}

.home-center-box {
  margin: auto;
  width: 90%;
  border-radius: 1em;
  background-color: #2a353b;
  padding: 0.5em 0em 0.5em 0em;
}

.dropdown {
  margin: auto;
  width: 90%;
  border-radius: 0.5em;
  background-color: #16a086;
}

.dropdown-title {
  padding: 0.5em;
  margin: 0.75em 0em 0.75em 0em;
}

/* SEARCH */

.search-content {
  padding: 1em;
  margin: 0.75em 0em 0.75em 0em;
  border-radius: 0.5em;
}

.search-area {
  padding: 0em 0em 0.5em 0em;
}

.search-subtext {
  padding: 0em 0em 0.5em 0em;
}

.search-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.search {
  flex: 3;
  border: 0px;
  border-radius: 0.5em 0em 0em 0.5em;
  height: 2em;
  width: 100%;
  padding: 0.5em 0em 0.5em 1em;
  background-color: #ffffff;
}

.submit {
  flex: 1;
  border: 0px;
  border-radius: 0em 0.5em 0.5em 0em;
  height: 3em;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: #09382e;
  color: #ffffff;
  font-family: "Roboto";
}

/* RESULTS */

.results-title {
  margin: auto;
  width: 90%;
  padding: 0.5em 0em 0.3em 0em;
}

.back-button-section {
  margin: auto;
  margin-bottom: 0.5em;
  width: 90%;
}

.back {
  border: 0px;
  border-radius: 0.5em;
  height: 3em;
  padding: 1em 2em 1em 2em;
  background-color: #09382e;
  color: #ffffff;
  font-family: "Roboto";
}

.results-center-box {
  margin: auto;
  width: 90%;
  height: 80vh;
  overflow: auto;
  border-radius: 1em 1em 0em 0em;
  padding: 0.5em 0em 0.5em 0em;
}

.table {
  width: 200%;
  height: 100%;
  border-spacing: 0em 0.25em;
  /* padding: 0em 0em 10em 0em; */
}

.table-head {
  background-color: #16a086;
}

th {
  text-align: left;
  padding: 0.75em 0em 0.75em 1em;
}

.top-left-corner {
  border-radius: 0.75em 0em 0em 0em;
  /* padding: 0em 0em 0em 2em; */
}

.recipe-name {
  column-width: 5em;
}

.top-right-corner {
  border-radius: 0em 0.75em 0em 0em;
  padding: 0.75em 1em 0.75em 1em;
}

.table-item {
  background-color: #2a353b;
}

td {
  text-align: left;
  vertical-align: top;
  padding: 1em 0em 0em 1em;
}

.recipe-image {
  vertical-align: middle;
  padding: 1em 0em 1em 1em;
}

img {
  width: 4em;
}

.inline {
  white-space: nowrap;
}

/* smaller than or equal to 768 px (smartphones)
larger than 768 px (small devices, tablets)
larger than 992 px (medium devices)
larger than 1200px (large devices) */

@media (min-width: 768px) {
  .search-content {
    margin: 1em 0em 0em 0em;
  }

  .home-center-box {
    padding: 0.5em 0em 0.5em 0em;
  }

  .dropdown {
    margin: auto;
    width: 90%;
  }

  .results-title {
    margin: auto;
    width: 90%;
  }

  .back-button-section {
    margin: auto;
    width: 90%;
  }

  .results-center-box {
    margin: auto;
    width: 90%;
  }

  .results-center-box {
    margin: auto;
    width: 90%;
    height: 100%;
    /* overflow: auto; */
    border-radius: 1em 1em 0em 0em;
    padding: 0.5em 0em 0.5em 0em;
  }
  
  .table {
    width: 100%;
    /* height: 100%; */
    border-spacing: 0em 0.25em;
    /* padding: 0em 0em 10em 0em; */
  }

  .recipe-name {
    column-width: 0em;
  }
}

@media (min-width: 992px) {
  .title {
    margin: auto;
    width: 90%;
  }
  
  .home-center-box {
    width: 90%;
    padding: 0.5em 0em 0.5em 0em;
  }

  .dropdown {
    margin: auto;
    width: 95%;
  }

  .results-title {
    margin: auto;
    width: 90%;
  }

  .back-button-section {
    margin: auto;
    width: 90%;
  }

  .results-center-box {
    margin: auto;
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .title {
    margin: auto;
    width: 65em;
  }

  .home-center-box {
    margin: auto;
    width: 65em;
    padding: 0.5em 0em 0.5em 0em;
  }

  .results-title {
    margin: auto;
    width: 65em;
  }

  .back-button-section {
    margin: auto;
    width: 65em;
  }

  .results-center-box {
    margin: auto;
    width: 65em;
  }
}
